*{
  margin:0;
  padding:0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
td{
  min-width:30px;
}
html,body{
  height: 100%;
}
.fa{
  font-size: 20px;
}
.el-pagination{
  margin:15px 0;
}

.el-form .el-form-item__label{
  font-weight: 600;
  font-size: 14px;
}
.tabPic{
  height:40px;
}
/*dialog样式修改*/
.el-dialog__header {
  background: rgb(102, 153, 204);
}
.el-dialog__header .el-dialog__title{
  color: #ffffff;
}
.el-dialog__header .el-dialog__close{
  color: #ffffff!important;
}
.dialog_subtitle {
  color: #1696ff;
  font-size: 16px;
  padding: 5px 0 10px 0;
  border-top: 1px solid #aee2ff;
}
.labelStyle>label {
  width: 100px;
  height: 40px;
  padding-left:22px;
  text-align: justify;
}
.labelStyle>label:after{
   display: inline-block;
   content:'';
   width:100%;
}
.isRequired>label{
  padding-left:0!important;
}
.isRequired>label:before{
  position: relative;
  right: -10px;
}
.remarks{
  position: relative;
}
.remarks>label{
  position: absolute;
  top: 50%;
  left: 0;
  transform:translateY(-50%);
}

.self-input .el-input__inner{
  width: 180px;
}
.date-range-input .el-input__inner{
  width: 220px;
}

/*弹窗滚动*/
.dialogZone{
  width:100%;
  height:400px;
}
.dialogZone .el-scrollbar__wrap{
  overflow-x:hidden;
}
.dialogZone .el-scrollbar__bar{
  right:-10px;
}

/*树形选择器*/
.vue-treeselect{
  width: 180px;
}

/* 搜索框样式*/
.search .el-select .el-input__inner{
  border-color:#ffffff!important;
  /*background-color:#b4bccc!important;*/
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.search .el-select .el-input__inner:focus{
  border-color:#ffffff!important;
}
.search .el-input__inner{
  border-right:none!important;
  border-top:none!important;
  border-bottom:none!important;
  border-left: #e4e5e9 !important;
}
.search .el-input__inner:focus{
  border-right:none!important;
  border-top:none!important;
  border-bottom:none!important;
  border-left: #e4e5e9 !important;
}
.search .vue-treeselect{
  display: inline-block;
  width: 200px;
  vertical-align: top;
  left: -12px;
}
.search .vue-treeselect__single-value{
  line-height: 40px!important;
}
.search .vue-treeselect__control{
  border: none;
}


/*查看文件*/
.lookFile{
  line-height: 30px;
  color:gray;
}



